@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    /* border:2px solid whitesmoke; */
    padding:0;
    margin:0;
}
body{
    min-height: 100vh;
}
.box-shadow{
    box-shadow: #a1a1aa 8px 8px 1.6px;
}
.box-shadow-btn{
    box-shadow: #525252 4px 4px 1.6px;
    outline:none;
    border:none;
}
